@import url('https //fonts.googleapis.com/css2?family=Noto+Serif:wght@400&family=Roboto+Condensed&display=swap')


body 

  font-family primary-font

  font-size 18px


h1, h2, h3 

  font-family secondary-font

  font-weight 400
